# Include essential files
include LICENSE
include README.md
include CHANGELOG.md
include src/weni_utils/tools/py.typed

# Include source files
recursive-include src *.py
recursive-include src *.pyi

# Include tests
recursive-include tests *.py

# Exclude compiled files
global-exclude *.py[cod]
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store

# Exclude development files
exclude .gitignore
exclude .pre-commit-config.yaml
prune .github
prune .git
prune examples
prune docs
